@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --primary-color: #003147;
    --secondary-color: #03a9f4;
}
body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
}

.container{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    margin:50px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.25);
}
.left_side{
    padding:40px;
    background-color: var(--primary-color);
  
}
.about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 20px;
}
.about_me img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.about_me h2 , .about_me h3{
    color:#fff;
    text-transform: uppercase;
}
.about_me h2{
font-size: 30px;
font-weight: 500;
}
.about_me h3{
font-size: 16px;
font-weight: 300;
}
.left_side .title{
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
}
.contact_info ul li{
    list-style-type: none;
    margin:10px 0;
    display: flex;
    align-items: center;
    gap: 10px;

}
.contact_info ul li i{
    color: var(--secondary-color);
}
.contact_info ul li .text{
    color:#fff;
    font-weight: 300px;
    
}
.education ul li {
    list-style-type: none;
    margin: 10px 0;
}
.education h4{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
}
.education h5{
    color:#fff;
    font-weight: 300;
}
.education h5.degree{
    font-weight: 500;
}
.languages li{
    list-style-type: none;
    margin: 10px 0;
    color:white;
    font-size:14px ;
    font-weight:300;
}
.languages .percent_container{
    height: 6px;
    background-color: #081921;
    margin-top: 5px;
}
.languages .percent{
    background-color: var(--secondary-color);
    height: 100%;
}
.right_side{
    padding: 40px;
}
.right_side .title{
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.right_side p{
 color:#333;
}
.right_side .profile{
    margin-bottom: 40px;
}
.experience .box{
    display: flex;
    margin:20px 0;
}
.experience .year_company{
    min-width: 150px;
}
.experience .year_company h5{
    color: #848c90;
    text-transform: uppercase;
    font-weight:600 ;
}
.experience .content h4{
    color:#2a7da2;
    text-transform: uppercase;
    font-size: 16px;
}
.experience{
    margin-bottom: 40px;
}
.skill{
    margin-bottom: 15px;
    display: grid; 
    grid-template-columns: 150px 1fr;
    align-items: center;
    
}
.skill h4{
    color: #848c99;
    font-weight: 500;
}
.skill .percent_container{
    height: 10px;
    background-color: #f0f0f0;
}
.skill .percent{
    height: 100%;/*ou bien 10px*/
    background-color: var(--secondary-color);
}
.skills{
    margin-bottom: 40px;
}
.interests ul {
    list-style-type: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    gap:50px;
}
.interests i{
    margin-right: 5px;
    font-size: 18px;
    color: var(--secondary-color);
}
@media screen and (max-width:900px) {
    .container{
        grid-template-columns: 1fr;
        margin:0;
    }
    @media screen and (max-width:600px) {
        .experience .box{
           flex-direction: column;
                }
                .skill{
                    grid-template-columns: 1fr;

                }
}
@keyframes aboutme {
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
    .about_me{
        animation: aboutme;
        animation-duration: 1s;
         
    }

    
}